.product__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & button {
    height: 50px;
    width: 120px;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
    color: white;
    font-weight: bold;
    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}

.product__table {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}
.product__table thead {
  font-weight: bolder;
  font-size: large;
}
.product__table thead tr {
  background-color: #04aa6d;
}

.product__table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04aa6d;
  color: white;
}
.product__table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.product__table tr:hover {
  background-color: #ddd;
}
.product__table td {
  border: 1px solid #ddd;
  padding: 8px;
}
