.home {
  padding: 0 85px;
  margin-top: 2em;
}

.home__product-list {
  display: grid;
  max-width: 1400px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
  justify-content: center;
  place-items: center;
  margin: 5rem auto;
}

@media (max-width: 800px) {
  .home__product-list {
    grid-template-columns: repeat(2, 250px);
  }
}
