.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #f8f9fa;
  min-height: 5vh;
}

.logo {
  display: flex;
  align-items: center;
}

.logo_text {
  margin-left: 10px;
  font-size: 24px;
  font-weight: bold;
}

.menu {
  display: flex;
}

.menu ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  font-family: 'Sriracha', cursive;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  color: #fd49a0;
}
.menu ul li:hover {
  color: #006400;
}
.language_selector {
  display: flex;
  align-items: center;
}

.language_selector select {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #fd49a0;
  border-radius: 5px;
  background-color: #fff;
  color: #fd49a0;
}

.hamburger {
  display: none;
}

@media (max-width: 960px) {
  .hamburger {
    display: flex;
  }

  .menu {
    z-index: 11;
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 5%;
    background-color: white;
  }
  .menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .menu.open {
    display: block;
  }
}
