.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.logout-btn {
  list-style: none;
  margin: 10px;
  font-weight: bold;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
}

.sidebar-menu a {
  padding: 10px;
  color: var(--text-pink);
  text-decoration: none;
  margin: 5px 10px;
  border-radius: 5px;
}
.sidebar-menu a:hover {
  background-color: var(--pink);
  color: white;
}

.active {
  background-color: var(--pink);

  a& {
    color: #fff;
  }
}
